{% extends 'blog/base.html' %}
{% block content %}


{% for post in posts %}
<div class="card rounded border-dark shadow lead bg-light">
    <article class="post">
                        <time class="date">
                            {{ post.published_date }}
                        </time>
                        <div class="card-header">
                            <h2 class="h2"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                        
                        </div>
                        <div class="card-body">
                             <p>{{ post.text|linebreaksbr }}</p>
                        </div>
                       
                    </article>
</div>
<div style="height: 5px;">

</div>
                    
{% endfor %}
                
{% endblock %}